* {
    box-sizing: border-box;
}

.app__main__div {
    padding-bottom: 6.5rem;
}

.grid-container {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button {
    border-style: none;
    padding: 10px 15px;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    background: #30a7d7;
    color: #fff;
    font-size: 1em;

}

.center-loader {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-55%, -50%);
}